<!DOCTYPE html>
<html>
  <head>
    <title>Card Company</title>    
    <link href="/files/bootstrap.min.css" rel="stylesheet" >
    <link href="/files/pricing.css" rel="stylesheet" >
    <script src="/files/bootstrap.bundle.min.js"></script>
  </head>



    